<main class="page">
  <nav class="navbar dark-gray">
    <a class="brand" href="/">
      <div class="icon">[ &nbsp; ]</div>
      <div class="name">Notes</div>
    </a>
    <div class="filler"></div>
    <div class="collapse-button collapse-on-tablet"><div class="hamburger-button"><div class="lines"></div></div></div>
    <ul class="nav-list">
      <li><a [routerLink]="['Notes']">Notes</a></li>
      <li><a [routerLink]="['Settings']">Settings</a></li>
    </ul>
    <div class="row-button toggle-button"><i class="fa fa-cog"></i></div>
  </nav>
  <header class="page-header">
    {{ title }}
  </header>
  <router-outlet></router-outlet>
</main>