<div *ngIf="box" class="box box-widget"
  [class.deleted]="box.states.deleted"
  [ngClass]="'box-' + box.boxType">

  <nav>
    <button (click)="goBack()">Back</button>
  </nav>

  <!-- box header -->
  <div class="row main">
    <div class="label">Title:</div>
    <textarea class="title" [(ngModel)]="box.title"></textarea>
    <span class="badges">
      <span class="badge danger" *ngIf="box.states.deleted">(deleted)</span>
    </span>
  </div>

  <!-- box content component -->
  <div class="secondary content">
    <div class="label">Content:</div>
    <textarea class="content" [(ngModel)]="box.content"></textarea>
  </div>

  <!-- box content component -->
  <div class="row secondary stats">
    <span class="variable created-at-date">
      <span class="title">Created At:</span>
      <span class="value">{{ box.createdAt | date:'medium' }}</span>
    </span>
    <span class="separator"> | </span>
    <span class="variable updated-at-date">
      <span class="title">Last updated:</span>
      <span class="value">{{ box.updatedAt | date:'medium' }}</span>
    </span>
  </div>

  <!-- box relation components -->
  <div class="row secondary references parent" *ngIf="box.parent">
    <div class="label">Parent: </div>
    <a class="reference parent" [routerLink]="['BoxDetail', {id: box.parent}]">{{ box.parent }}</a>
  </div>
  <div class="row secondary references children"*ngIf="box.children?.length">
    <div class="label">Children: </div>
    <a class="reference child"
      *ngFor="#child of box.children"
      [routerLink]="['BoxDetail', {id: child}]">{{ child }}</a>
  </div>

  <!-- box actions component -->
  <div class="actions">
    <button class="delete-button" *ngIf="!box.states?.deleted" (click)="deleteBox()">Delete</button>
    <button class="restore-button" *ngIf="box.states?.deleted" (click)="restoreBox()">Restore</button>
  </div>
</div>