$body-font-weight: 400;

@import 'box-ui/styles/box-ui';

.page > header, .page .page-header {
  background: #d50000;
  color: white;
}

li.selected {
  color: orangered;
}

li.deleted {
  color: red;
}
